<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <title>{{code}} {{status}}</title>
  </head>
  <body>
    <p>
    Gosh, I sure am sorry, but an unexpected error occurred. Golly!
    </p>
    Code: {{code}}<br/>
    Status: {{status}}<br/>
    Message: {{message}}<br/>
    Exception:<br/>
    {{exception}}
  </body>
</html>